.fondo{
  background-color: #0a0a0c;
  background-image: url('https://i.pinimg.com/564x/8d/15/e6/8d15e6764a1d3c397435e76fa06f96a7.jpg');
background-size: 100%;

}
.maincontent{
  display: flex;
  font-size: 30px;
  
  color: #ffffef;
}
.height{
  height: auto;
}
.containercarsadd{
  height: 25em;
  width: 50em;
  display: none;
}
.mainlogo{
  width: 300px;
  height: 200px;

}
.containerlink{
  text-align: end;
  width: 100rem;
  display: flex;
  justify-content:flex-end;
  

}
.linkpag{
  font-size: 30px;
  color: #ffffef;
  padding: 50px;
  margin-left: 5px;
  width: auto;
  
  
}
.h1{
  color: #ffffef;
  -webkit-text-stroke-color: #0a0a0a;
  -webkit-text-stroke-width: .1px;
}
.titlesection{
  
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;
  /* margin-top: 4rem; */
  margin: 4rem;
}
.separation{
  margin-left: 25%;
  width: 800px;
  background-color: #661010 ;
  height: 5px;
}
.seccionmovie{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.containermovie{
  text-align: center;
  border: black 3px solid ;
  margin: 15px;
}
.img{
  width: 200px;
  height: 200px;
  margin: 5px;
}
.titlemovie{
  font-size: 10px;

}
.seccioncrud{
  display: flex ;
  background-color: #661010;
  
}
.containersemcrud{
  border: black 5px solid;
  width: 55%;
}
.containercrud{
  font-size: 20px;
  margin: 10px;
  
  text-align: center;
  
  
}
.containerguardar{
  display: flex;
  margin-left: 45%;
}
.btnguardar{
  font-size: 30px;
} 
.pagiletas{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  -webkit-text-stroke-color: #0f0f0f;
  -webkit-text-stroke-width: .1px;
  color: #ffffef;
} 
.imagencards{
  width: 200px;
  height: 300px;
}
.containercards{
  /* display: flex; */

}      